.announcements-container
    background-color: #d3e4f2
    padding: 18px 24px
    text-align: center

    .announcements
        display: inline-block
        text-align: left

        .title
            font-size: 28px
            font-weight: bold

        .none
            font-style: italic
            padding-top: 12px

        .announcement
            padding-top: 28px
            max-width: 800px
            margin: 0 auto

            .title
                font-size: 22px
                font-weight: bold
                margin: 0 0 6px 0
                text-align: center

            .timestamp
                font-size: 16px
                color: #262626

            .text
                font-size: 18px
                margin: 8px 0 0 0
