#dashboard
    .orderbook
        text-align:center
        padding: 20px 0

        .top
            padding-bottom: 20px

            .title
                font-size: 34px
                padding: 0 20px 5px 20px
                border-bottom: 1px solid #292929

        .list
            display: inline-block
            text-align: left

            th, td
                padding: 4px 10px

        .none
            font-style: italic
