.footer
    width: 100%
    background-color: #0b1e2e
    color: white
    text-align: center
    padding: 32px
    position: absolute
    bottom: 0
    left: 0
    box-sizing: border-box

    a
        padding: 0 12px
