.header
    padding: 24px
    background-color: #0b1e2e
    color: #ffffff

    .top
        font-weight: bold

        .left
            text-align: left

        .right
            text-align: right

            a
                margin-left: 20px

    .title
        text-align: center
        font-size: 52px
        max-width: 500px
        margin: 0 auto
        padding: 52px 0
