#index
    .stats
        background-color: #39673e
        text-align: center
        color: #ffffff

        .stat
            padding: 20px
            box-sizing: border-box

            .number
                font-size: 32px
                padding-bottom: 10px

            .name
                font-size: 18px

    .orderbook
        text-align:center
        padding: 20px 0

        .top
            padding-bottom: 20px

            .title
                font-size: 34px
                padding: 0 20px 5px 20px
                border-bottom: 1px solid #292929

        .list
            display: inline-block
            text-align: left

            th, td
                padding: 4px 10px

        .none
            font-style: italic
