html
    height: 100%
    width: 100%
    margin: 0
    padding: 0
    background-color: #fafafa

body
    min-height: calc(100%-82px)
    width: 100%
    position: relative
    margin: 0
    padding: 0 0 82px 0

a
    color: inherit
    text-decoration: none

    &:hover
        text-decoration: underline

@import 'index.styl'
@import 'login.styl'
@import 'terms.styl'
@import 'announcements.styl'
@import 'how.styl'
@import 'header.styl'
@import 'footer.styl'

@require '../../../node_modules/purecss/build/pure-min.css'
@require '../../../node_modules/purecss/build/grids-responsive-min.css'
