.overlay
    background-color: rgba(0, 0, 0, 0.8)
    width: 100%
    height: 100%
    position: fixed
    top: 0
    left: 0
    display: table
    z-index: 1

    .modal-container
        display:table-cell
        vertical-align:middle
        padding: 0 10%

        .modal
            margin: 12px auto
            background-color: #f4f4f4
            text-align: center
            padding: 8px 24px 24px 24px
            box-sizing: border-box
            border-radius: 6px
            max-width: 600px

            a
                color: #008aff

            input
                padding: 6px 32px
                border: 1px solid darken(#163249, 20%)
                background-color: #163249
                color: #ffffff
                margin: 0 10px

                &:hover
                    background-color: darken(#163249, 20%)

                &.cancel
                    border-color: darken(#661a1a, 20%)
                    background-color: #661a1a

                    &:hover
                        background-color: darken(#661a1a, 20%)
